.header__nav {
    position: fixed;
    display: none;
    top: 75px;
    right: 0;
    width: 240px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    z-index: 10;
    max-height: calc(100% - 75px);
    overflow: auto;

    @include mobile {
        width: 100%;
    }
}

.header__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $black;
    text-transform: uppercase;
    padding: 37px 0 24px 34px;

}

.nav-sub-item__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $dark-pink;
    text-transform: uppercase;
    padding: 0 0 12px 33px;
    text-decoration: none;
}

.nav-sub-item__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $grey-middle;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 0 1px 27px;
    text-decoration: none;
}

.nav__link {
    color: $grey-middle;
    text-decoration: none;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav-sub-item__list {
    padding-left: 24px;
    padding-bottom: 30px;
}



.nav__menu-closer {
    position: fixed;
    top: 75px;
    right: 0;
    width: 13px;
    height: 13px;
    padding: 16px;
    background-image: url('./../img/icon/cross.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}