.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    width: 360px;
    min-height: 260px;
    background-color: $sales-bkg-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px;
    box-sizing: border-box;
    text-transform: uppercase;
}

.sales__item--woman {
    background-image: url(../img/sales-woman-bkg.jpg);
}

.sales__item--man {
    background-image: url(../img/sales-man-bkg.jpg);
}

.sales__item--kids {
    background-image: url(../img/sales-kids-bkg.jpg);
}

.sales__item--accesories {
    background-image: url(../img/sales-accesories-bkg.jpg);
    width: 100%;
    min-height: 180px;
    margin: 0 0 97px;
}

.sales__text {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $white;
}

.sales__tittle {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: $dark-pink;
}