$black: #222222;
$light-pink: #F1E4E6;
$dark-pink: #F16D7F;
$sales-bkg-color: #4f4745;
$white: #FFFFFF;
$grey: #9F9F9F;
$light-grey: #E1E1E1;
$grey-middle: #6F6E6E;
$overlay-black: #211616;

$desktop-width: 1599px;
$tablet-width: 767px;